Repository gemini-hlsw/seqexec: changes, and which Mergify rules are due for each by the changed paths.
All: Label authtester PRs, Label client PRs, Label engine PRs, Label model PRs, Label ocs2_api PRs, Label seqexec-server PRs, Label seqexec-server-gn PRs, Label seqexec-server-gn-test PRs, Label seqexec-server-gs PRs, Label seqexec-server-gs-test PRs, Label seqexec-server-igrins2 PRs, Label server PRs

Label authtester PRs:
  label:
    add:
    - authtester
    remove: []

Label client PRs:
  label:
    add:
    - client
    remove: []

Label engine PRs:
  label:
    add:
    - engine
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label ocs2_api PRs:
  label:
    add:
    - ocs2_api
    remove: []

Label seqexec-server PRs:
  label:
    add:
    - seqexec-server
    remove: []

Label seqexec-server-gn PRs:
  label:
    add:
    - seqexec-server-gn
    remove: []

Label seqexec-server-gn-test PRs:
  label:
    add:
    - seqexec-server-gn-test
    remove: []

Label seqexec-server-gs PRs:
  label:
    add:
    - seqexec-server-gs
    remove: []

Label seqexec-server-gs-test PRs:
  label:
    add:
    - seqexec-server-gs-test
    remove: []

Label seqexec-server-igrins2 PRs:
  label:
    add:
    - seqexec-server-igrins2
    remove: []

Label server PRs:
  label:
    add:
    - server
    remove: []

Add memory to the build
  .github/workflows/scala.yml
Due: none

REL-4726: Decrease extra readout time factor to 30s
  build.sbt
  modules/server/src/main/scala/seqexec/server/ghost/Ghost.scala
Due: Label server PRs

Update ocs
  project/Settings.scala
Due: none

REL-4535 Added new grating R400-_G5310 for GMOS-N
  modules/model/shared/src/main/scala/seqexec/model/enumerations.scala
  modules/server/src/main/scala/seqexec/server/gmos/GmosNorthControllerEpics.scala
Due: Label model PRs, Label server PRs

REL-4535 Update grating names ann epics value
  modules/model/shared/src/main/scala/seqexec/model/enumerations.scala
  modules/server/src/main/scala/seqexec/server/gmos/GmosNorthControllerEpics.scala
Due: Label model PRs, Label server PRs

REL-4660 Allow GMOS biases & darks to run in parallel with other GCAL calibrations
  modules/server/src/main/scala/seqexec/server/SequenceConfiguration.scala
Due: Label server PRs

GSCR-4753 Moved GMOS-S JWL43 filter to wheel 1.
  modules/server/src/main/scala/seqexec/server/gmos/GmosSouthControllerEpics.scala
Due: Label server PRs

Fixed failing GMOS tests.
  modules/server/src/test/scala/seqexec/server/SeqTranslateSpec.scala
Due: Label server PRs

CR-4759 Updated GMOS-S filters.
  modules/server/src/main/scala/seqexec/server/gmos/GmosSouthControllerEpics.scala
Due: Label server PRs

Update Scala version to 2.13.16
  build.sbt
Due: none

Update kind-projector version
  project/Settings.scala
Due: none

Update sbt
  build.sbt
  project/build.properties
  project/plugins.sbt
Due: none

Fix compile errors
  modules/engine/src/test/scala/seqexec/engine/StepSpec.scala
  modules/ocs2_api/src/main/scala/ocs2/config/GmosConfig.scala
  modules/server/src/main/scala/seqexec/server/SeqexecEngine.scala
  modules/server/src/main/scala/seqexec/server/gems/GemsController.scala
  modules/web/client/src/main/scala/seqexec/web/client/SeqexecApp.scala
  modules/web/client/src/main/scala/seqexec/web/client/components/FooterStatus.scala
  modules/web/client/src/main/scala/seqexec/web/client/components/LogArea.scala
  modules/web/client/src/main/scala/seqexec/web/client/components/SessionQueueTable.scala
  modules/web/client/src/main/scala/seqexec/web/client/components/SoundControl.scala
  modules/web/client/src/main/scala/seqexec/web/client/components/sequence/steps/ObservationProgressBar.scala
  modules/web/client/src/main/scala/seqexec/web/client/handlers/ServerMessagesHandler.scala
  modules/web/client/src/main/scala/seqexec/web/client/reusability/package.scala
  modules/web/client/src/main/scala/web/client/table/TableState.scala
  modules/web/client/src/test/scala/seqexec/web/client/model/SequencesOnDisplaySpec.scala
  modules/web/server/src/main/scala/scala/web/server/common/RedirectToHttpsRoutes.scala
  modules/web/server/src/main/scala/seqexec/web/server/http4s/SeqexecUIApiRoutes.scala
  project/plugins.sbt
Due: Label client PRs, Label engine PRs, Label ocs2_api PRs, Label server PRs

Update flake
  flake.nix
Due: none

REL-4855: Center the IFUs only when not guiding
  modules/server/src/main/scala/seqexec/server/ghost/GhostConfig.scala
  modules/server/src/main/scala/seqexec/server/ghost/GhostController.scala
  project/Settings.scala
Due: Label server PRs

Adjust origin of the SV camera position
  modules/server/src/main/scala/seqexec/server/ghost/GhostConfig.scala
Due: Label server PRs

Another small adjustment to svc origin
  modules/server/src/main/scala/seqexec/server/ghost/GhostConfig.scala
Due: Label server PRs

Revert "Another small adjustment to svc origin"
  modules/server/src/main/scala/seqexec/server/ghost/GhostConfig.scala
Due: Label server PRs

REL-4855 Don't move the ifus on calibrations
  modules/server/src/main/scala/seqexec/server/ghost/GhostConfig.scala
Due: Label server PRs

REL-4792 Added 10s delay after F2 observe.
  modules/server/src/main/scala/seqexec/server/flamingos2/Flamingos2ControllerEpics.scala
Due: Label server PRs

REL-4899 Fixed some issues with LGS+P1 nad LGS+OI control.
  modules/server/src/main/scala/seqexec/server/altair/AltairControllerEpics.scala
  modules/server/src/main/scala/seqexec/server/tcs/TcsNorthControllerEpicsAo.scala
  modules/server/src/test/scala/seqexec/server/altair/AltairControllerEpicsSpec.scala
Due: Label server PRs

REL-4899 Fixed some issues with LGS+P1 and LGS+OI control.
  modules/server/src/main/scala/seqexec/server/altair/AltairControllerEpics.scala
Due: Label server PRs

Update giapi-scala
  project/Settings.scala
Due: none

Add logging to show when a value is applied to move_to
  modules/server/src/main/scala/seqexec/server/ghost/GhostController.scala
Due: Label server PRs

Force move ifu to focus for calibrations
  modules/server/src/main/scala/seqexec/server/ghost/GhostConfig.scala
Due: Label server PRs

REL-4892 Made F2 wait time after observe configurable.
  app/seqexec-server-gs/src/main/resources/app.conf
  app/seqexec-server/src/main/resources/app.conf
  modules/model/jvm/src/main/scala/seqexec/model/config/SeqexecEngineConfiguration.scala
  modules/server/src/main/scala/seqexec/server/Systems.scala
  modules/server/src/main/scala/seqexec/server/flamingos2/Flamingos2ControllerEpics.scala
  modules/server/src/test/scala/seqexec/server/TestCommon.scala
  modules/web/server/src/main/resources/app.conf
  modules/web/server/src/test/resources/app.conf
  modules/web/server/src/test/scala/seqexec/web/server/config/ConfigurationLoaderSpec.scala
Due: Label model PRs, Label seqexec-server PRs, Label seqexec-server-gs PRs, Label server PRs

Path conditions:
  Label authtester PRs: any of: ^modules/authtester/
  Label client PRs: any of: ^modules/web/client/
  Label engine PRs: any of: ^modules/engine/
  Label model PRs: any of: ^modules/model/
  Label ocs2_api PRs: any of: ^modules/ocs2_api/
  Label seqexec-server PRs: any of: ^app/seqexec-server/
  Label seqexec-server-gn PRs: any of: ^app/seqexec-server-gn/
  Label seqexec-server-gn-test PRs: any of: ^app/seqexec-server-gn-test/
  Label seqexec-server-gs PRs: any of: ^app/seqexec-server-gs/
  Label seqexec-server-gs-test PRs: any of: ^app/seqexec-server-gs-test/
  Label seqexec-server-igrins2 PRs: any of: ^app/seqexec-server-igrins2/
  Label server PRs: any of: ^modules/
